body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 2rem;
    color: #2C3E50;
}

h1, h2, h3, h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #2C3E50;
    margin-bottom: 1rem;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid-filters {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}


.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

.dash-dropdown, .DatePickerRange {
    width: 100%;
}

.dash-table-container {
    margin-top: 2rem;
    font-family: 'Roboto Mono', monospace;
}

.tab--selected {
    border-bottom: 3px solid #2C3E50 !important;
}

